
.container-slipe {
    position: absolute; /* Keep the strips fixed to the right */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    display: flex; /* Use flexbox for vertical alignment */
    flex-direction: column; /* Stack strips vertically */
    align-items: flex-end; /* Center strips horizontally */
  }
  
  .side-strip {
    position: relative; /* Make the side strip position relative for triangle positioning */
    margin-top: 15px; /* Space between strips */
    width: 70px; /* Initial width */
    height: 100px; /* Fixed height */
    background-color: #007bff; /* Color of the strips */
    transition: width 0.5s ease; /* Smooth transition for width change */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    color: white; /* Text color */
    font-size: 14px; /* Text size */
  }
  
  .side-strip img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 50px;
    transition: opacity 0.3s ease;
  }
  .side-strip:hover img {
    display: none;
  }
  
  /* Adding the triangle effect */
  .side-strip::before {
    content: '';
    position: absolute; /* Position it absolutely to the left of the strip */
    top: 50%; /* Center it vertically */
    left: -14.5px; /* Position it slightly to the left of the strip */
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent; /* Triangle top */
    border-bottom: 50px solid transparent; /* Triangle bottom */
    border-right: 15px solid #007bff; /* Color of the triangle */
    transform: translateY(-50%);
    
  }
  
  .side-strip i {
    margin-right: 5px;
     /* Space between icon and text */
  }
  
  /* Hover effect */
  .side-strip:hover {
    width: 200px; /* Width when hovered */
  }
  
  .side-strip:hover span {
    opacity: 1; /* Show text when hovered */
  }
  
  .side-strip span {
    opacity: 0; /* Hide text initially */
    transition: opacity 0.5s ease; /* Smooth transition for text visibility */
  }
  .container {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    height: 100vh;
  }
  
  .company-info {
    margin-right: 30px; /* Espacio entre el logo y el formulario */
    text-align: center; /* Centrar el texto */
  }
  
  .logo {
    color: #007bff;
    font-weight: bold;
    font-size: 84px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .company-logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
  }
  
  .card::before {
    top: -10px;
    left: -10px;
  }
  
  .card::after {
    bottom: -10px;
    right: -10px;
  }
  
  .card-title {
    margin-bottom: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  .input-container {
    position: relative; /* Necesario para posicionar el icono */
    margin-bottom: 10px; /* Espacio inferior */
  }
  
  .input-icon {
    position: absolute;
    right: 10px; /* Espacio desde la derecha */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajustar la posición */
    cursor: pointer; /* Cambiar el cursor para indicar que es clickeable */
    color: #007bff; /* Color del icono */
  }
  
  .loginInput {
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    border-radius: 0;
    padding: 10px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    transition: border 0.4s ease;
  }
  
  .loginInput:focus {
    animation: border-animation 1s ease forwards;
    border-radius: 10px; /* Animación al enfocar */
    /* Animación más larga y suave al enfocar */
  }
  .loginInput.is-invalid {
    color: red;
    border-radius: 10px; /* Animación al enfocar */
    animation: border-animation-error 1s ease forwards; /* Animación para error */
  }
  
  .btn-entrar {
    margin-top: 15px;
    color: white;
    height: 50px;
    background-color: #007bff;
    font-weight: bold;
  }
  
  .btn-entrar:hover {
    background-color: #0062f4;
  }
  
  .btn-crear {
    margin-top: 15px;
    color: white;
    height: 50px;
    background-color: #00ce15;
    font-weight: bold;
  }
  
  .btn-crear:hover {
    background-color: #01ff1b;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  hr {
    margin-top: 15px;
  }
  
  @media (max-width: 768px) {
    .container-slipe {
      display: none; /* Hide the side strips on small screens */
    }
    .container {
      flex-direction: column; /* Cambiar a disposición en columnas en pantallas pequeñas */
      align-items: center; /* Centrar el contenido */
    }
  
    .company-info {
      margin-bottom: 20px; /* Espacio debajo del logo y el eslogan */
      text-align: center; /* Centrar el texto */
    }
  
    .card {
      max-width: 90%; /* Más pequeña en pantallas pequeñas */
    }
  }
  @keyframes border-animation {
    0% {
      border: none; /* Sin borde al inicio */
    }
    25% {
      border-top: 2px solid rgba(0, 123, 255, 0.5); /* Recorrido hacia la parte superior */
    }
    50% {
      border-right: 2px solid rgba(0, 123, 255, 0.5); /* Recorrido hacia la parte derecha */
      border-top: 2px solid transparent; /* Hacer el borde superior transparente */
    }
    75% {
      border-bottom: 2px solid rgba(0, 123, 255, 0.5); /* Recorrido hacia la parte inferior */
      border-right: 2px solid transparent; /* Hacer el borde derecho transparente */
    }
    100% {
      border-left: 2px solid rgba(0, 123, 255, 0.5); /* Recorrido hacia la parte izquierda */
      border-bottom: 2px solid transparent; /* Hacer el borde inferior transparente */
    }
    
  }
  @keyframes border-animation-error {
    0% {
      border: none;
    }
    25% {
      border-top: 2px solid rgba(255, 0, 0, 0.5); /* Recorrido hacia la parte superior en rojo */
    }
    50% {
      border-right: 2px solid rgba(255, 0, 0, 0.5); /* Recorrido hacia la parte derecha en rojo */
      border-top: 2px solid transparent;
    }
    75% {
      border-bottom: 2px solid rgba(255, 0, 0, 0.5); /* Recorrido hacia la parte inferior en rojo */
      border-right: 2px solid transparent;
    }
    100% {
      border-left: 2px solid rgba(255, 0, 0, 0.5); /* Recorrido hacia la parte izquierda en rojo */
      border-bottom: 2px solid rgba(255, 0, 0, 1); /* Borde inferior completamente rojo */
    }
  }
  
  .loginInput:focus-visible {
    outline: none; /* Sin contorno visible */
  }
  footer {
    padding: 20px; /* Espacio interno */
    border-top: 1px solid #dee2e6; /* Línea superior */
    position: relative; /* Posicionamiento relativo */
    bottom: 0; /* Alinear al fondo */
    width: 100%; /* Ancho completo */
    text-align: center; /* Centrar el texto */
  }
  
  footer p {
    margin: 0; /* Sin margen */
  }
  
  .modal-custom {
    max-width: 400px; /* Ajusta este valor según lo desees */
  }
  .containerRegister {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
  }
  .form-control {
    margin-bottom: 10px;
  }
  .d-flex select {
    margin-right: 10px; /* Adjust spacing here */
  }
  
  .d-flex select:last-child {
    margin-right: 0; /* Remove margin from the last select */
  }
  .radiobutton {
    display: flex;
    justify-content: space-between;
  }
  
  .email {
    margin-top: 5px;
  }
  
  .btn-register {
    background-color: #00ce15;
    color: white;
    font-weight: bold;
    width: 100%;
  }
  .progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
    height: 20px; /* Altura de la barra */
  }
  
  .progress-bar {
    height: 100%;
    background-color: #3498db; /* Color de la barra */
    width: 0%; /* Ancho inicial */
    transition: width 0.4s ease; /* Efecto de transición */
  }
  
  
  
  .alert {
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    background-color: #d9534f;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    z-index: 1;
  }
  
  .alert::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #d9534f transparent transparent;
  }
  
  